@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('base.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*cabeçalho*/
    
div#h {
    background-color: #fbfbfb;

    padding: 16px 96px;

    height: 56px;

    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;

    border-radius: 16px;

    z-index: 3;
}

header {
    padding: 16px 96px;

    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    z-index: 5;
}

h1.logo {
    color: #353535;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
}

#logorestar {
    color: #4C8647;
    text-decoration: none;
}

nav.large {
    width: 80%;
}

nav.small {
    display: none;
}

a.link-h {
    font-size: 16px;
    margin-left: 8%;
    line-height: 24px;

    color: #353535;

    text-decoration: none;

    font-family: 'Poppins', sans-serif;
}

a.link-ec {
    text-decoration: underline;
}

.link-h:hover {
    background: linear-gradient(90deg, #8A78E0 45%, #2B7FFF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/**/

span.gradient1 {
    background: linear-gradient(90deg,#8A78E0 40%, #2B7FFF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
    
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #8A78E0 45%, #2B7FFF 95%);
    border-radius: 8px 0px 0px 8px;
}

#fc {

    position: relative;
    top: 20%;
    
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;

    
    z-index: 4;
}

h1.fc {
    font-size: 44px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;   
}

.esquerda {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.direita {
    display: flex;
    justify-content: flex-end;
}

#star1 {
    height: 12vh;
    margin-left: 20%;
}

#star2 {
    height: 12vh;
    margin-right: 20%;
}

.centro {
    display: flex;
    justify-content: center;
    text-align: center;
}

#azul {
    background:linear-gradient(90deg, #8A78E0 45%, #2B7FFF);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
    z-index: 2;
}

#containera {
    border: 5px solid #fbfbfb;
    border-radius: 15px;
    width: 40%;
    height: 60vh;
    display: flex;
    justify-content: center;
    padding: 2%;
}

#logos {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.mídia {
    width: 50px;
    height: 50px;
}

.insta {
    width: 42px;
    height: 42px;
}

#nomeslogos {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30px;
    }

.userrs {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#redessociais {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#rstítulo {
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    color: #fbfbfb;
}

#sacgradient {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

h6 {
    color: #fbfbfb;
    margin: 0%;
}

h4 {  
    color: #fbfbfb;
    margin: 0%;
}



#sac {
    background-color: #fbfbfb;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#containersac {
    border: 5px solid #2B7FFF;
    border-radius: 15px;
    width: 30%;
    height: 50vh;
    padding: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#número {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
}

#contatosac {
    width: 80%;
    margin: 0%;
    font-size: 16px;
    padding-left: 35px;
}

#funcionamento {
    font-size: 12px;
}

.horário {
    color: #2B7FFF;
}

#tel {
    width: 20%;
    height:7vh;
}

#linha {
    width: 100%;
    border: 0.3px solid black;
}

#envelope {
    width: 100%;
    height: 7vh;
}


#email {
    display: flex;
    align-items: center;
    justify-content: flex-starts;

}


#emailrestar {
    width: 80%;
    margin: 0%;
    font-size: 16px;
    padding-left: 20px;
}

footer {
    background:linear-gradient(to right, #8A78E0, #8A78E0, #2B7FFF, #2B7FFF);
    width: 100%;
    height: 4vh;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rodapé {
    color: #fbfbfb;
    height: 1vh;
}

/*animações*/

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


    /* Responsividade */

    @media (max-width: 1200px) {
        
        section {
            height: 450px;
        }
        
        section#fc{
            height: 540px;
        }
       
        h1.fc {
            font-size: 32px;
        }
       
        #azul {
            flex-direction: column-reverse;
        }
       
        #containera{
            width: 80%;
            padding-top: 50px;
        }

        .mídia{
            width: 80px;
            height: 80px;
        }

        .insta{
            width: 72px;
            height: 72px;
        }

        #nomeslogos {
            padding-left: 70px;
            

        }

        #sac {
            flex-direction: column;
        }

        #containersac {
            width: 80%;
        }

        #funcionamento {
            font-size: 24px;
        }

        strong {
            font-size: 32px;
        }

    
    }
    
    @media (max-width: 915px) {
        nav.large {
            display: none;
        }
        nav.small{
            display: flex;
        }
        section#fc{
            height: 600px;
        }
        h1.fc{
            font-size: 43px;
        }  
        nav.large {
            display: none;
            position: absolute;
            right: 0px;
            top: 65px;
    
            text-align: center;
    
            background-color: #fff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    
            padding: 24px;
            border-radius: 16px;
    
            width: 100%;
    
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        a.link-h {
            margin: 0px 0px 8px 0px;
            width: 150px;
        }
        a.link-h:nth-child(4) {
            margin: 0px;
        }
        nav.small {
            display: flex;
        }
        img#star2{
            margin-right: 10%;
        }
        img#star1 {
            margin-left: 10%;
        }

        #nomeslogos{
            padding-left: 16px;
        }
    }
    
    @media (max-width: 795px) {
        div#h {
            height: 54px;
        }
        section {
            height: 450px;
        }
        section#fc{
            height: 500px;
        }
        h1.fc {
            font-size: 36px;
        }
        img#star2, img#star1{
            height: 10vh;
        }
    }
    
    @media (max-width: 530px){
        section {
            display: flex;
            flex-direction: column-reverse;
        }
        div.none{
            display: none;
        }
        img#star2, img#star1 {
            margin: 0%;
        }
        section#restar{
            height: 350px;
        }
        header{
            padding: 16px 32px;
        }
        h1.logo{
            font-size: 18px;
        }
        section#fc{
            text-align: center;
            justify-content: center;
            height: 75vh;
        }
    }
    
    @media (max-width: 1080px) and (orientation: landscape) {
        img#star1, img#star2 {
            height: 20vh;
        }
        footer {
            height: 32px;
        }
    }